html,body {
    height:100%;
    background-color: #333;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand small {
    font-size: 11px;
}

.actions {
    position: absolute;
    top: 7px;
    right: 10px;
}

.actions .checkbox {
    display: inline;
    color: #9d9d9d;
    font-weight: normal;
}

.row {
    margin-right: 0;
}

.preview {
    padding-right: 0;
    position: relative;
}

.output {
    color: #ddd;
    background-color: #262626;
    border-left: solid 5px #333;
    font-family: monospace;
    padding: 10px 20px 10px 20px;
    height: calc(100vh - 52px);
    overflow: auto;
}

.preview .loader {
    color: #fff;
    font-size: 100px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -50px;
}

#benchmark {
    color: #ddd;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    background: #222;
    padding: 6px 13px;
    border-radius: 4px 0 0 0;
    opacity: 0.85;
    cursor: default;
}

.output.format {
    white-space: pre;
}

.xdebug-error {
    color: #222;
}

#editor {
    position: absolute;
    width: 100%;
    height: calc(100vh - 52px);
}

#editor .ace_search {
    color: #333;
    max-width: 330px;
}

#editor .ace_search_form .ace_searchbtn {
    width: 33px;
}

#editor .ace_search_options {
    margin-top: 4px;
    text-align: left;
}

